.columns {
  gap: rem(30);
  display: grid;
  grid-auto-flow: dense;
  grid-template-rows: minmax(0, 1fr);
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  @include r(1200) {
    gap: rem(15);
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }

  &--main {
    gap: 0 rem(60);
  }

  &__col {
    &--1 {
      grid-column: span 1;
    }

    &--2 {
      grid-column: span 2;
    }

    &--3 {
      grid-column: span 3;
      @include r(1200) {
        grid-column: span 2;
      }
    }

    &--4 {
      grid-column: span 4;
      @include r(1200) {
        grid-column: span 2;
      }
    }

    &--5 {
      grid-column: span 5;
      @include r(1200) {
        grid-column: span 2;
      }
    }

    &--6 {
      grid-column: span 6;
      @include r(1200) {
        grid-column: span 2;
      }
    }

    &--7 {
      grid-column: span 7;
      @include r(1200) {
        grid-column: span 2;
      }
    }

    &--8 {
      grid-column: span 8;
      @include r(1200) {
        grid-column: span 2;
      }
    }

    &--9 {
      grid-column: span 9;
      @include r(1200) {
        grid-column: span 2;
      }
    }

    &--10 {
      grid-column: span 10;
      @include r(1200) {
        grid-column: span 2;
      }
    }

    &--11 {
      grid-column: span 11;
      @include r(1200) {
        grid-column: span 2;
      }
    }

    &--12 {
      grid-column: span 12;

      @include r(1200) {
        grid-column: span 2;
      }
    }

    &--height-2 {
      grid-row: auto/span 2;
    }

    //&--tab {
    //  &-6 {
    //    @include r(1200) {
    //      grid-column: span 6;
    //    }
    //  }
    //}
    //
    //&--mob {
    //  &-12 {
    //    @include r(600) {
    //      grid-column: span 12;
    //    }
    //  }
    //}
  }
}
